@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,600;1,300;1,700&display=swap');
$font-family: 'IBM Plex Mono', monospace;
:root {
  --red: #ea234e;
  --blue: #1e3f77;
  --light-blue: #d8ecf9;
  --black: #212222;
  --gray: #7C8398;
  --dark-gray: #505150;
  --black: #212222;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background: rgb(239, 249, 255);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*:focus {
  outline: 0;
}
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: #0d518c;
}
::selection {
  background-color: #0d518c;
  color: rgb(115, 204, 255);
}
a {
  text-decoration: none;
  color: #404040;
  &:hover {
    text-decoration: underline;
  }
}
li {
  list-style-type:none;
}
ul li {
  display: inline;
}
button {
  cursor: pointer;
  background: transparent;
  border: initial;
}
.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 20px 20px;
}
.display-none {
  display: none;
}
.warn {
  font-size: 12px;
  color: lightgray;
  text-align: center;
  padding-bottom: 3rem;
}
.no {
  font-size: 10px;
  padding-top: 30px;
}
.back-home {
  padding-top: 3rem;
}
.post {
  padding: 0;
  background:var(--background);
  color: var(--text-color);
  line-height: 1.5;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
  }
  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }
  iframe {
    width: 100%;
    height: 700px;
    border-width: 0;
  }
  p {
    padding: 1rem 0;
  }
  p img {
    text-align: center;
  }
}
.site-footer {
  text-align: center;
  color: #666;
  height: auto;
  padding: 5rem;
  a {
    font-weight: 700;
  }
}
.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100vh;
}

@media (max-width: 900px) {
  .container {
    max-width: 960px;
  }
  .display-none-900 {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .display-none-700 {
    display: none !important;
  }
}
@media (min-width: 700px) {
  .display-none-700-min {
    display: none !important;
  }
  .display-block-700-min {
    display: block !important;
  }
}
@media (max-width: 700px) {
  .display-none-700 {
    display: none !important;
  }
  .display-block-700 {
    display: block !important;
  }
}
@media (min-width: 576px) {
  .display-none-576-min {
    display: none !important;
  }
  .display-block-576-min {
    display: block !important;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 20px 20px;
  }
  .display-none-576 {
    display: none !important;
  }
  .display-block-576 {
    display: block !important;
  }
}
@media (min-width: 500px) {
  .display-none-500-min {
    display: none !important;
  }
  .display-block-500-min {
    display: block;
  }
}
@media (max-width: 500px) {
  .display-none-500 {
    display: none !important;
  }
  .display-block-500 {
    display: block !important;
  }
}
