.slick-dots li button:before {
  color: var(--blue) !important;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.car-items-wrapper {
  width: 920px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  cursor: grabbing;
}
