footer {
  color: #fff;
  height: auto;
  background: var(--blue);
  h4 {
    font-family: var(--lora-serif);
    font-size: 1.2rem;
  }
  p {
    font-family: var(--inria-sans);
    font-size: 1rem;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
  }
}
@media (max-width: 576px) {
  footer {
    h4 {
      font-size: 1rem;
    }
    p {
      font-size: 0.7rem;
    }
    .footer-wrapper {
      flex-flow: column;
      justify-content: space-between;
      width: 100%;
    }
    .infos {
      width: 100%;
      padding-bottom: 30px;
    }
    .infos:last-child {
      padding-bottom: 0;
    }
  }
}
